
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;  
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #1e212c;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    position: relative;
    overflow: hidden;
    height: 696px;
    width: 100%;
    margin: 0;
    padding: 0;

}
.header__wrapper{
    position: relative; 
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 69px;
}
.header__logo{
    width: 50%;
    padding-left: 110px;
}
.header__nav{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.background__header{
    position: absolute;
    right: 0;
    top: -2px;
    width: 720px; 
    height: 696px;
    z-index: 1;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}
.header__item{
    margin-right: 30px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__link{
    font-family: 'Oswald', sans-serif; 
    font-weight: 400; 
    font-size: 20px;
    line-height: 100%; 
    letter-spacing: 0; 
    text-transform: uppercase; 
    color: #FFFFFF;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}

.index__image{
    position: absolute;
    z-index: 3;
    top: 142px;
    left: 558px;
}
.header__texts{
    padding-top: 20px;
    padding-left: 190px;
    font-family: 'Oswald', sans-serif; 
    font-weight: 400;  
    letter-spacing: 0; 
    color: black;
}
.intro__title{
    font-size: 60px;
    line-height: 60px;
    max-width: 415px;
 }
 .intro__subtitle{ 
    font-size: 20px;
    line-height: 20px; 
    letter-spacing: 0; 
    text-transform: uppercase; 
    
 }
 .add__program{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 0px;
    width: 244px;
    height: 54px;
    background-color: #68B738;
    color:#FFFFFF;
    border: none;
    font-family: 'Oswald', sans-serif; 
    font-weight: 400; 
 }
.intro{
    height: 527px;
}
.cat__slim{
    position: absolute;
    left: 110px;
    top: 776px;
    background-color: #F2F2F2; 
    width: 570px;
    height: 374px;
    display: flex;
    flex-direction: column; 
    padding: 41px 0 0 52px;
    
}
.slim__header{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.black__cat{
    width: 100px;
    height: 106px;
    margin-right: 62px;
}
.slim__title{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;   
    letter-spacing: 0; 
    color: black;
    margin: 0;
}
.slim__subtitle{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;  
    letter-spacing: 0; 
    color: black; 
    max-width: 467px;
}
.slim__catalog {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    text-decoration: none;
    position: relative;
}

.slim__catalog::after {
    content: "→";
    margin-left: 15px;
}
.cat__fat{
    position: absolute;
    top: 776px;
    left: 760px;
    background-color: #F2F2F2; 
    width: 570px;
    height: 374px;
    display: flex;
    flex-direction: column; 
    padding: 41px 0 0 52px;
}
.features {
    padding: 0 110px 100px;
}
.features__title{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;  
    letter-spacing: 0; 
    color: black; 
    margin: 0 0 80px 0;
}
.features__list{
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.feature__item {
    position: relative;
    width: 230px;
    height: 280px;
}
.feature__number{
    font-family: 'Oswald', sans-serif;
    font-weight: 400px;
    font-size: 280px;
    line-height: 280px;
    letter-spacing: 0;
    color: #F2F2F2;
    position: absolute;
    z-index: -1;
    margin-left: 118px;
}
.feature__icon{
    position: absolute;
    z-index: 1;
    margin-top: 40px;
}
.feature__text {
    max-width: 201px;
    position: relative;
    z-index: 1;
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #444444;
    margin-top: 151px;
}
